@import "https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css";

:root { --pico-font-size: 100%; }
.grid-auto { grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); }
.text-center { text-align: center; }
.text-muted { opacity: 0.7; }
.mt-1 { margin-top: 1rem; }
.mb-1 { margin-bottom: 1rem; }
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
a {
    &:hover {
        padding: 6px;
    }
}